@page
@model Petition.Pages.Petitions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Details.css" />
}

<h1 class="title">@Html.DisplayFor(model => model.PetitionModel.Title)</h1>

<div class="left">
    <img class="image" src="~/petition-photos/@Model.PetitionModel.Photo" />

    <h2 class="descriptionHeader">@Html.DisplayNameFor(model => model.PetitionModel.Description)</h2>

    <p class="description">
        @Html.DisplayFor(model => model.PetitionModel.Description)
    </p>
</div>

<div class="right">
    <div class="rightTop">
        <table class="user">
            <tr>
                <td colspan="2" style="padding-top: 5px;">
                    <h2 class="descriptionHeader" style="padding: 0; margin: 0;">Overview</h2>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/default_pic.png" />
                </td>
                <td class="userDetails">
                    <strong>@Html.DisplayFor(model => model.PetitionModel.Creator.FullName)</strong> initiated this voice on <strong>@Model.PetitionModel.DateCreated.ToString("dd/MM/yyyy")</strong>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/Details/placeholder.png" />
                </td>
                <td class="userDetails">
                    <strong>@Html.DisplayFor(model => model.PetitionModel.Region)</strong>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/Details/speedometer.png" />
                </td>
                <td class="userDetails">
                    <strong>@Html.DisplayFor(model => model.PetitionModel.Status)</strong>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/Details/signature-number-icon.png" />
                </td>
                <td class="userDetails">
                    <strong>@Html.DisplayFor(model => model.PetitionModel.Votes)</strong> users support this voice!
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form method="post" asp-page-handler="AddSupport">
                        @if (Model.hasVoted)
                        {
                            <button type="submit" class="btn btn-action btn-big btn-full js-sign-button button">
                                Support this voice
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-action btn-big btn-full js-sign-button button">
                                Thanks for your support! :)
                            </button>
                        }
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <hr style="border-color: black; width: 90%; " />
    <div class="rightBottom">
        <table class="user">
            <tr>
                <td colspan="2" style="padding-top: 5px;">
                    <h2 class="descriptionHeader" style="padding: 0; margin: 0;">Reasons for supporting</h2>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/default_pic.png" />
                </td>
                <td>
                    <strong>(Name of User)</strong>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    (Reasons)
                </td>
            </tr>
        </table>
    </div>
</div>