@page
@model Petition.Pages.Petitions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Details.css" />
}

<h1 class="title">@Html.DisplayFor(model => model.PetitionModel.Title)</h1>

<div class="left">
    <img class="image" src="~/petition-photos/@Model.PetitionModel.Photo" />

    <h2 class="descriptionHeader">@Html.DisplayNameFor(model => model.PetitionModel.Description)</h2>

    <p class="description">
        @Html.DisplayFor(model => model.PetitionModel.Description)
    </p>
</div>

<div class="right">
    <div class="rightTop">
        <table class="user">
            <tr>
                <td colspan="2" style="padding-top: 5px;">
                    <h2 class="descriptionHeader" style="padding: 0; margin: 0;">Overview</h2>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/default_pic.png" />
                </td>
                <td class="userDetails">
                    <strong>@Html.DisplayFor(model => model.PetitionModel.Creator.FullName)</strong> initiated this voice on <strong>@Model.PetitionModel.DateCreated.ToString("dd/MM/yyyy")</strong>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/Details/placeholder.png" />
                </td>
                <td class="userDetails">
                    <strong>@Html.DisplayFor(model => model.PetitionModel.Region)</strong>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/Details/speedometer.png" />
                </td>
                <td class="userDetails">
                    <strong>@Html.DisplayFor(model => model.PetitionModel.Status)</strong>
                </td>
            </tr>
            <tr>
                <td class="tdSpecial">
                    <img class="icon" src="~/images/Details/signature-number-icon.png" />
                </td>
                <td class="userDetails">
                    <strong>@Html.DisplayFor(model => model.PetitionModel.Votes)</strong> users support this voice!
                </td>
            </tr>
            <tr style="border-bottom: 1px solid black;">
                <td colspan="2">
                    <form method="post" asp-page-handler="AddSupport">
                        @if (Model.hasVoted == false)
                        {
                            <button type="submit" class="btn btn-action btn-big btn-full js-sign-button button">
                                Support this voice
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-action btn-big btn-full js-sign-button button">
                                Thanks for your support! :)
                            </button>
                        }
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form method="post" asp-page-handler="AddFeedback">
                        <input asp-for="@Model.Feedback" class="form-control" placeholder="Add an optional feedback" />
                        <br />
                        <button type="submit" class="btn btn-action btn-big btn-full js-sign-button button">Submit Feedback</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <hr style="border-color: black; width: 90%; " />
    <div class="rightBottom">
        <table class="user">
            <tr>
                <td colspan="2" style="padding-top: 5px;">
                    <h2 class="descriptionHeader" style="padding: 0; margin: 0;">Reasons for supporting</h2>
                </td>
            </tr>
            @if (Model.SignatureList.Count == 0)
            {
                    <tr>
                        <td colspan="2">
                            <strong>There are currently no feedbacks for this voice, be the first one to add!</strong>
                        </td>
                    </tr>
            }
            else
            {
                foreach (var s in Model.SignatureList)
                {
                    <tr>
                        <td class="tdSpecial" colspan="2">
                            <img class="icon" src="~/images/default_pic.png" style="margin-right: 35px;"/>
                            <span style="font-weight: bold;">@Model.CurrentUser.FullName</span>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black;">
                        <td>
                            @s.DateCreated
                        </td>
                        <td>
                            @s.SignatureDetails
                        </td>
                    </tr>
                }

            }
        </table>
    </div>
</div>