@page
@model Petition.Pages.Petitions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].Votes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetitionModel[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PetitionModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PetitionModelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PetitionModelId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PetitionModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
