@using Microsoft.AspNetCore.Identity
@using Petition.Data
@inject UserManager<Petitioner> _userManager
@inject SignInManager<Petitioner> _signInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petition - Innovation Challenge 2018</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color: white; border: none; margin: 0;">
        @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>*@
        <div class="p_navbar">
            <a asp-page="/Index">
                <svg width="240" height="90.27487182617188"><defs id="SvgjsDefs1339"></defs><g id="SvgjsG1340" featurekey="root" fill="#ffffff" transform="matrix(1,0,0,1,NaN,NaN)"></g><g id="SvgjsG1341" featurekey="symbol1" fill="#38c8c6" transform="matrix(0.731968795209347,0,0,0.731968795209347,9.996604811451245,10)"><title>21</title><path d="M39.12,49.3s2.61,11.5,2.28,19.08a101.56,101.56,0,0,1-2.39,15A16.08,16.08,0,0,1,54.6,92.49a19.77,19.77,0,0,0-9.41-4.71,13.21,13.21,0,0,0-7.44.35,6.89,6.89,0,0,0,2.53,6.64c2.51,1.94,5.91,3.74,11.8,3.11a6.92,6.92,0,0,0,5.41-3.75,39.35,39.35,0,0,0,2-4.76c5.75-16.28,2.65-40.2,2.61-40.06C45.13,50.87,39.12,49.3,39.12,49.3Z" transform="translate(-2.18 -2)"></path><path d="M33.63,49.3s-18.18-4.64-22.42-.72c0,0,5.56,4.9,9.68,5.88s14.5,2.46,14.5,2.46S34.81,50.21,33.63,49.3Z" transform="translate(-2.18 -2)"></path><path d="M79.89,47c-4.31.39-12.74,2.29-12.74,2.29l.78,7.62s7.64-2.27,11.76-2.07,10.58-4.7,10.58-4.7C88.79,49.3,88.05,46.27,79.89,47Z" transform="translate(-2.18 -2)"></path><path d="M96.94,30.75C93.81,23.17,72.83,2.52,50,2,27.17,2.52,6.19,23.17,3.06,30.75s3.14,14.9,3.14,14.9,5-6,15.68-3.92c2.64.52,5.2,1,7.61,1.37a126.1,126.1,0,0,0,41,0c2.42-.4,5-.85,7.61-1.37,10.66-2.09,15.68,3.92,15.68,3.92S100.08,38.32,96.94,30.75Zm-67.32-4.1C29,30,26,33.52,26,33.52s-.95-6.48,0-9,7-5.69,7-5.69S30.25,23.25,29.62,26.65Zm20.3,9.19C47,31.53,46,26.43,47.18,22.71a92.27,92.27,0,0,0,2.18-9.41,97,97,0,0,1,3.51,10C53.65,26.63,49.92,35.84,49.92,35.84Zm23.76-3.1s-3-3.48-3.64-6.88S66.73,18,66.73,18s6,3.16,7,5.69S73.68,32.74,73.68,32.74Z" transform="translate(-2.18 -2)"></path></g><g id="SvgjsG1342" featurekey="text1" fill="#070707" transform="matrix(2.872776852877546,0,0,2.872776852877546,100.40218837584577,7.740083451064049)"><path d="M5 20 l-5.14 -13.22 l3.7 0 l2.48 6.74 c0.16 0.44 0.3 1 0.4 1.54 c0.14 -0.54 0.28 -1.1 0.46 -1.56 l2.5 -6.72 l3.38 0 l-5.12 13.22 l-2.66 0 z M18.18 20.28 c-3.78 0 -4.92 -2.34 -4.92 -5.02 c0 -2.62 1.08 -4.88 4.86 -4.88 c3.86 0 4.88 2.34 4.88 4.92 c0 2.74 -1.14 4.98 -4.82 4.98 z M18.14 17.96 c1.36 0 1.62 -1.26 1.62 -2.62 s-0.26 -2.64 -1.64 -2.64 c-1.36 0 -1.62 1.28 -1.62 2.6 c0 1.34 0.26 2.66 1.64 2.66 z M24.46 7.4 c0 -0.96 0.8 -1.74 1.76 -1.74 c0.98 0 1.76 0.78 1.76 1.74 s-0.78 1.76 -1.76 1.76 c-0.96 0 -1.76 -0.8 -1.76 -1.76 z M24.66 20 l0 -9.34 l3.12 0 l0 9.34 l-3.12 0 z M35.38 16.68 l2.9 0.58 c-0.54 1.78 -1.58 3.02 -4.16 3.02 c-3.24 0 -4.68 -1.82 -4.68 -4.98 c0 -3.7 2.04 -4.92 4.76 -4.92 c2.56 0 4.24 1.22 4.02 3.34 l-3.06 0.62 c0.18 -1.26 -0.44 -1.64 -1 -1.64 c-1.34 0 -1.48 1.44 -1.48 2.78 c0 1.66 0.4 2.48 1.48 2.48 c0.76 0 1.22 -0.48 1.22 -1.28 z M48.5 16.04 l-5.92 0 c0.08 1.34 0.46 1.92 1.76 1.92 c0.8 0 1.28 -0.22 1.42 -0.94 l2.74 0.48 c-0.52 1.74 -1.76 2.78 -4.26 2.78 c-3.12 0 -4.92 -1.62 -4.92 -4.84 c0 -2.6 1.16 -5.06 4.78 -5.06 c2.94 0 4.4 1.62 4.4 4.64 l0 1.02 z M43.98 12.6 c-0.76 0 -1.2 0.36 -1.36 1.54 l2.6 0 l0 -0.02 c0 -1.1 -0.42 -1.52 -1.24 -1.52 z"></path></g></svg>
            </a>
            <div class="p_mainnav">
                <ul class="p_navbar_list">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var Petitioner = await _userManager.GetUserAsync(User);
                        <li class="mainnav_right"><span>Hello, @Petitioner.FullName</span></li>
                        <li class="mainnav_right"><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">Logout</a></li>
                    }
                    else
                    {
                        <li class="mainnav_right"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                        <li class="mainnav_right"><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            var Petitioner = await _userManager.GetUserAsync(User);
            <div id="region" style="position: absolute; top: 45px; left: 65%;"><span style="font-weight: bold; font-size: 15px;">@Petitioner.Region</span></div>
        }
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
